.trip-content {
	padding: 0px 100px;
}

.trip-members {
	overflow: scroll;
	display: inline-block;
}

.trip-member {
	display: inline-block;
	margin: 0px 4px;
}

.add-button {
	border-radius: 50%;
	border: none;
	height: 40px;
	width: 40px;
	font-size: 30px;
	font-weight: bold;
	background-color: #00B0B9;
	text-align: center;
	color: white;
	line-height: 35px;
}

.payments-content {
	margin-top: 30px;
}

.payments {
	margin: 20px 10px;
}

.payment {
	margin: 20px 0px;
}

.new-payment-form {
	width: 70%;
	margin: 10px 20px;
	background-color: #f4ece9;
	padding: 20px;
	border-radius: 5px;
	text-align: center;
}
