.trip-content {
	padding: 0px 100px;
	overflow: scroll;
}

.trip-container {
	position: relative;
	margin-left: 300px;
	width: auto;
}

#trip-title {
	text-align: center;
}

.trip-details {
	padding: 10px 0px;
	font-size: 15px;
}

.trip-members {
	overflow: scroll;
	display: inline-block;
}

#trip-title {
	margin: 25px 0px;
}

.trip-member {
	display: inline-block;
	margin: 0px 4px;
}

.add-button {
	border-radius: 50%;
	border: none;
	height: 40px;
	width: 40px;
	font-size: 30px;
	font-weight: bold;
	background-color: #00B0B9;
	text-align: center;
	color: white;
	line-height: 35px;
}

.payments-content {
	margin-top: 30px;
}

.payments {
	margin: 20px 10px;
}

.payment {
	margin: 10px 0px;
	padding: 10px 5px;
	background-color: $primary-background;
	border-radius: 5px;
}

.new-payment-form {
	margin: 10px;
	background-color: #f4ece9;
	padding: 20px;
	border-radius: 5px;
	font-size: 16px;
}


/** TRIP SUMMARY SIDEBAR **/
.trip-sidebar {
	width: 300px;
	height: 100%;
	position: fixed;
	left: 0px;
}

.trip-summary {
	padding: 0px;
	background-color: $primary-background;
}

.settlements {
	margin: 20px 0px;
}

.settlement {
	text-align: center;
	padding: 15px 0px;
}

.settlement-amount {
	color: $primary-green;
}
