.flash-message {
  position: fixed;
  top: 0;
  height: 50px;
  line-height: 50px;
  width: 100%;
  z-index: 1000;
  text-align: center;
}

.flash-warning {
    background-color: red
}

.flash-success {
    background-color: green
}

.flash-notice {
    background-color: blue
}
