<h3>All Trips</h3>

<ul>
	{{#each}}
		<li class='trip-list'>
			{{#link-to 'trip' this}}
			  {{title}}
			{{/link-to}}
		</li>

	{{/each}}
</ul>

<div>
	{{#link-to 'trips.new'}}
	  Create New Trip
	{{/link-to}}
</div>
