<h3>Create new trip</h3>

<div class='col-md-6'>
	<div class="form-group">
		Title {{input type="text" class="form-control" id="trip-title" value=title size="60" placeholder='Trip Title'}}
	</div>
	<button {{action "createTrip"}}>Submit</button>
</div>
