.navbar {
    margin-bottom: 0;
    color: white;
    border: none;
    border-radius: 0px;
}

.navbar-default {
    background-color: $main-nav;
}

.navbar-default .navbar-brand {
    color: white;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #e1ebed;
}

.navbar-default .navbar-nav > li > a {
    color: white;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #e1ebed;
}
