
$action-color: #ffaa91;
$action-color-hover: #f4ece9;
$primary-green: #23b0a3;
$primary-blue: #2E3C54;
$primary-blue-font-color: #A2B4BC;
$secondary-blue: #1AAFD0;
$primary-background: #EFF0F1;
$secondary-background: #f7fafa;


$main-nav: white;

$main-font: #1B2432;
